<table>
    <% @cart.lineitems.each do |item|%>
    <tr>
        <td><%= item.quantity%></td>
        <td><%= item.product.name%></td>
        <td class="item_price"><%= item.product.price%></td>
    </tr>
    <%end%>
    <tr class="total_price">
        <td colspan="2">Total</td>
        <td class="total_cell"><%= @cart.total_price%></td>
    </tr>
</table>
<%= button_to 'Empty Cart', @cart, method: :delete, data: {confirm: 'Are you sure?'} %>